@charset "UTF-8";

section {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

table {
	position: relative;
	width: 50%;
	height: 50%;
	border-collapse: collapse;
}

caption {
	font-size: 1.5rem;
	font-weight: 900;
	margin-bottom: 20px;
}

th,td{
	border: 1px solid #333;
}

td {
	text-align: center;
}

.c-list {
	position:relative;
}

.c-list>td:nth-child(n+3) {
	text-align: right;
	padding-right: 20px;
}